<nav class="navbar-responsive">
	<h1>Brand</h1>
	<form id="form-navigation">
		<label for="menu">
			<input type="checkbox" id="menu" aria-label="Toggle menu">
		</label>
	</form>
    <label for="reset-form-navigation" >
        <input type="reset" form="form-navigation" id="reset-form-navigation" aria-label="Close menu">
    </label>
	<ul>
		<li><a href="#">Menu 1</a></li>
		<li><a href="#">Menu 2</a></li>
		<li><a href="#">Menu 3</a></li>
	</ul>
</nav>
